html {
  text-align: center;
  font-family: monospace;
 }

.slidecontainer {
  width: 35%; 
  height: 50px;
  display: inline-block;
  margin: 5px;
}

.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 25px; 
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0px;
}

.slider.red {
  background: red;
  outline: red solid 1px;
}

.slider.green {
  background: green;
  outline: green solid 1px;
}

.slider.blue {
  background: blue;
  outline: blue solid 1px;
}

.slider.brightness {
  background: #d3d3d3;
  outline: #d3d3d3 solid 1px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #222222;
  cursor: pointer;
}

.square {
  height: 50px;
  width: 20%;
  display: inline-block;
  background: #000000;
}
